streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
faiss-cpu
langchain_google_genai
deep_translator
langdetect
pyttsx3
PyAudio
SpeechRecognition
streamlit_authenticator
gtts
lingua-language-detector